### Exercise 1

In [3]:
#import files:
import pandas as pd
import numpy as np

In [2]:
#import env
import env

Question 3: Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

In [3]:
def get_db_url(database):
    """
    this fuction will: 
    - take in a string database
    - return a string connection url to be used with sqlalchemy later
    """
    conn_url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/{database}'
    return conn_url

In [18]:
url = get_db_url('employees')

Quesetion 4: Use your function to obtain a connection to the employees database.

In [19]:
from sqlalchemy import text, create_engine

engine = create_engine(url)

query = text('SELECT * FROM employees LIMIT 5 OFFSET 50')

pd.read_sql(query, engine.connect())

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

In [20]:
pd.read_sql('select * from employees limit 10', url)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10001  1953-09-02     Georgi    Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel     Simmel      F  1985-11-21
2   10003  1959-12-03      Parto    Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian    Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi   Maliniak      M  1989-09-12
5   10006  1953-04-20     Anneke    Preusig      F  1989-06-02
6   10007  1957-05-23    Tzvetan  Zielinski      F  1989-02-10
7   10008  1958-02-19     Saniya   Kalloufi      M  1994-09-15
8   10009  1952-04-19     Sumant       Peac      F  1985-02-18
9   10010  1963-06-01  Duangkaew   Piveteau      F  1989-08-24

5. Once you have successfully run a query:

a. Intentionally make a typo in the database url. What kind of error message do you see?

b. Intentionally make an error in your SQL query. What does the error message look like?

In [27]:
url = get_db_url('employes')
pd.read_sql('select * from employees limit 10', url)

OperationalError: (pymysql.err.OperationalError) (1044, "Access denied for user 'tobias_2305'@'%%' to database 'employes'")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [28]:
url = get_db_url('employees')
pd.read_sql('select * from employes limit 10', url)

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'employees.employes' doesn't exist")
[SQL: select * from employes limit 10]
(Background on this error at: https://sqlalche.me/e/14/f405)

Question 6: read the employees and titles table in two sepearte DataFrames.

In [78]:
url = get_db_url('employees')
employees = pd.read_sql('''
    select *
    from employees

''', url)
employees

        emp_no  birth_date first_name last_name gender   hire_date
0        10001  1953-09-02     Georgi   Facello      M  1986-06-26
1        10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2        10003  1959-12-03      Parto   Bamford      M  1986-08-28
3        10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4        10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12
...        ...         ...        ...       ...    ...         ...
300019  499995  1958-09-24     Dekang  Lichtner      F  1993-01-12
300020  499996  1953-03-07       Zito      Baaz      M  1990-09-27
300021  499997  1961-08-03    Berhard    Lenart      M  1986-04-21
300022  499998  1956-09-05   Patricia   Breugel      M  1993-10-13
300023  499999  1958-05-01     Sachin   Tsukuda      M  1997-11-30

[300024 rows x 6 columns]

In [75]:
titles = pd.read_sql('''
    select *
    from titles
''', url)
titles

        emp_no            title   from_date     to_date
0        10001  Senior Engineer  1986-06-26  9999-01-01
1        10002            Staff  1996-08-03  9999-01-01
2        10003  Senior Engineer  1995-12-03  9999-01-01
3        10004         Engineer  1986-12-01  1995-12-01
4        10004  Senior Engineer  1995-12-01  9999-01-01
...        ...              ...         ...         ...
443303  499997         Engineer  1987-08-30  1992-08-29
443304  499997  Senior Engineer  1992-08-29  9999-01-01
443305  499998     Senior Staff  1998-12-27  9999-01-01
443306  499998            Staff  1993-12-27  1998-12-27
443307  499999         Engineer  1997-11-30  9999-01-01

[443308 rows x 4 columns]

Question 7: How many rows and columns do you have in each DataFrame? Is that what you expected?

In [82]:
employees.shape

(300024, 6)

In [83]:
titles.shape

(443308, 4)

Question 8: Display the summary statistics for each DataFrame.

In [80]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   emp_no      300024 non-null  int64
 1   birth_date  300024 non-null  object
 2   first_name  300024 non-null  object
 3   last_name   300024 non-null  object
 4   gender      300024 non-null  object
 5   hire_date   300024 non-null  object
dtypes: int64(1), object(5)
memory usage: 13.7+ MB

In [79]:
titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443308 entries, 0 to 443307
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   emp_no     443308 non-null  int64
 1   title      443308 non-null  object
 2   from_date  443308 non-null  object
 3   to_date    443308 non-null  object
dtypes: int64(1), object(3)
memory usage: 13.5+ MB

Question 9: How many unique titles are in the titles datadrame

In [64]:
unique_titles = df_titles['title'].unique()
unique_df = pd.DataFrame(unique_titles)
len(unique_df)

7

In [84]:
titles.title.nunique()

7

In [85]:
titles.title.unique()

array(['Senior Engineer', 'Staff', 'Engineer', 'Senior Staff',
       'Assistant Engineer', 'Technique Leader', 'Manager'], dtype=object)

Question 10: What is the oldest date in the to_date column?

In [81]:
titles.sort_values(by = 'to_date').head(1)

       emp_no     title   from_date     to_date
16064   20869  Engineer  1985-02-17  1985-03-01

In [86]:
titles.to_date.min()

datetime.date(1985, 3, 1)

In [88]:
titles['to_date'].sort_values()

16064     1985-03-01
406358    1985-03-11
346216    1985-03-20
35527     1985-03-23
277603    1985-04-17
             ...
191714    9999-01-01
191712    9999-01-01
191707    9999-01-01
191723    9999-01-01
443307    9999-01-01
Name: to_date, Length: 443308, dtype: object

In [90]:
titles[titles.to_date == titles.to_date.min()].to_date

16064    1985-03-01
Name: to_date, dtype: object

Question 11: What is the most recent date in the to_date column?

In [94]:
# Filtering out currently employed (9999, 1, 1)
titles[titles.to_date != titles.to_date.max()].to_date.max()

datetime.date(2002, 8, 1)

### Exercise 2

Question 1: Copy the useres and roles DataFrames from the examples above.

In [4]:
# Create the users DataFrame.

users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})
users

   id   name  role_id
0   1    bob      1.0
1   2    joe      2.0
2   3  sally      3.0
3   4   adam      3.0
4   5   jane      NaN
5   6   mike      NaN

In [5]:
# Create the roles DataFrame

roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})
roles

   id       name
0   1      admin
1   2     author
2   3   reviewer
3   4  commenter

Question 2. What is the result of using a right join on the DataFrames

In [19]:
right_df = users.merge(roles, how = 'right', left_on = 'role_id', right_on = 'id')
right_df

   id_x name_x  role_id  id_y     name_y
0   1.0    bob      1.0     1      admin
1   2.0    joe      2.0     2     author
2   3.0  sally      3.0     3   reviewer
3   4.0   adam      3.0     3   reviewer
4   NaN    NaN      NaN     4  commenter

Question 3: What is the result of using an outer join on the DataFrames?

In [17]:
outer_df = users.merge(roles, how = 'outer', left_on = 'role_id', right_on = 'id')
outer_df

   id_x name_x  role_id  id_y     name_y
0   1.0    bob      1.0   1.0      admin
1   2.0    joe      2.0   2.0     author
2   3.0  sally      3.0   3.0   reviewer
3   4.0   adam      3.0   3.0   reviewer
4   5.0   jane      NaN   NaN        NaN
5   6.0   mike      NaN   NaN        NaN
6   NaN    NaN      NaN   4.0  commenter

Question 4: What happens if you drop the foreign keys from the DataFrames and try to merge them?

In [22]:
new_users = users.drop(columns= 'role_id')
new_users

   id   name
0   1    bob
1   2    joe
2   3  sally
3   4   adam
4   5   jane
5   6   mike

In [25]:
nu_merge = new_users.merge(roles, how = 'outer', left_on = 'id', right_on = 'id')
nu_merge

   id name_x     name_y
0   1    bob      admin
1   2    joe     author
2   3  sally   reviewer
3   4   adam  commenter
4   5   jane        NaN
5   6   mike        NaN

Question 5: Load the mpg dataset from PyDataset.

In [28]:
from pydataset import data
mpg = data('mpg')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

Question 6: Output and read the documentation for the mpg dataset.

In [29]:
data('mpg', show_doc = True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

Question 7: How many rows and columns are in the dataset?

In [30]:
mpg.shape

(234, 11)

Question 8: Check out your column names and perform any cleanup you may want on them.

In [31]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [35]:
mpg.rename(columns={'cty':'city'}, inplace=True)
mpg.rename(columns= {'hwy':'highway'}, inplace=True)
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact

Question 9: Display the summary statistics for the dataset.

In [36]:
mpg.describe()

            displ         year         cyl        city     highway
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

Question 10: How many different manufacturers are there?

In [38]:
mpg.manufacturer.nunique()

15

Question 11: How many different models are there?

In [42]:
mpg.model.nunique()

38

Question 12: Create a column named mileage_difference like you did in the DataFrames exercises; this column should contain the difference between highway and city mileage for each car.

In [44]:
mpg['mileage_difference'] = mpg.highway - mpg.city
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10

Question 13: Create a column named average_mileage like you did in the DataFrames exercises; this is the mean of the city and highway mileage.

In [45]:
mpg['average_mileage'] = (mpg.highway + mpg.city) /2
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0

Question 14: Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the car has an automatic transmission.

In [71]:
# .startswith() = test if the start of each string element matches a pattern
mpg[mpg.trans == mpg.trans.str.startswith('auto')]
mpg.head(10)

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5,True
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0,False
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5,False
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5,True
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0,True
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,8,22.0,False
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,9,22.5,True
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,8,22.0,False
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,9,20.5,True
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,8,24.0,False

Questoin 15: Using the mpg dataset, find out which which manufacturer has the best miles per gallon on average?

Question 16: Do automatic or manual cars have better miles per gallon?