In [1]:
import pandas as pd

In [2]:
from pydataset import data

### Question 1: Copy the code from the lession from the pydataset library will be pandas dataframes.

In [3]:
# a. Create a column named passing_english that indicates whether each student has a passing grade in english.

In [4]:
import pandas as pd
import numpy as np

np.random.seed(123)

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# randomly generate scores for each student for each subject
# note that all the values need to have the same length here
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades})

type(df)

pandas.core.frame.DataFrame

In [5]:
print(df)

       name  math  english  reading
0     Sally    62       85       80
1      Jane    88       79       67
2     Suzie    94       74       95
3     Billy    98       96       88
4       Ada    77       92       98
5      John    79       76       93
6    Thomas    82       64       81
7     Marie    93       63       90
8    Albert    92       62       87
9   Richard    69       80       94
10    Isaac    92       99       93
11     Alan    92       62       72

In [6]:
# a. Create a column namd passing_english that indicates whether each student has a passing grade in english. 
new_df = df.assign(passing_english = df['english'] >= 70)
new_df

       name  math  english  reading  passing_english
0     Sally    62       85       80             True
1      Jane    88       79       67             True
2     Suzie    94       74       95             True
3     Billy    98       96       88             True
4       Ada    77       92       98             True
5      John    79       76       93             True
6    Thomas    82       64       81            False
7     Marie    93       63       90            False
8    Albert    92       62       87            False
9   Richard    69       80       94             True
10    Isaac    92       99       93             True
11     Alan    92       62       72            False

In [7]:
# b. Sort the english grades by the passing_english column. How are duplicates handled?
new_df_sorted_english_grades = new_df.sort_values(by= 'passing_english', ascending=False)
new_df_sorted_english_grades

       name  math  english  reading  passing_english
0     Sally    62       85       80             True
1      Jane    88       79       67             True
2     Suzie    94       74       95             True
3     Billy    98       96       88             True
4       Ada    77       92       98             True
5      John    79       76       93             True
9   Richard    69       80       94             True
10    Isaac    92       99       93             True
6    Thomas    82       64       81            False
7     Marie    93       63       90            False
8    Albert    92       62       87            False
11     Alan    92       62       72            False

In [8]:
# c. Sort the english grades first by passing_english and then by student name. All the students that are failing english 
# should be first, and within the students that are failing english they should be ordered alphabetically. 
# The same should be true for the students passing english. 
# (Hint: you can pass a list to the .sort_values method)
new_df_sorted_english_grades.sort_values(by =['passing_english', 'name'], ascending = [True, True])

       name  math  english  reading  passing_english
11     Alan    92       62       72            False
8    Albert    92       62       87            False
7     Marie    93       63       90            False
6    Thomas    82       64       81            False
4       Ada    77       92       98             True
3     Billy    98       96       88             True
10    Isaac    92       99       93             True
1      Jane    88       79       67             True
5      John    79       76       93             True
9   Richard    69       80       94             True
0     Sally    62       85       80             True
2     Suzie    94       74       95             True

In [9]:
# d. Sort the english grades first by passing_english, and then by the actual english grade, 
# similar to how we did in the last step.
new_df_sorted_english_grades.sort_values(by =['passing_english', 'english'], ascending = [True, False])

       name  math  english  reading  passing_english
6    Thomas    82       64       81            False
7     Marie    93       63       90            False
8    Albert    92       62       87            False
11     Alan    92       62       72            False
10    Isaac    92       99       93             True
3     Billy    98       96       88             True
4       Ada    77       92       98             True
0     Sally    62       85       80             True
9   Richard    69       80       94             True
1      Jane    88       79       67             True
5      John    79       76       93             True
2     Suzie    94       74       95             True

In [10]:
# e. Calculate each students overall grade and add it as a column on the dataframe. 
# The overall grade is the average of the math, english, and reading grades.
new_df = df.assign(overall_grade = round((df.math+df.english+df.reading)/3,0))
new_df['overall_grade'] = new_df.overall_grade.astype(int)
new_df
# another method (df['overall'] = round((df.math + df.english + df.reading)/3))

       name  math  english  reading  overall_grade
0     Sally    62       85       80             76
1      Jane    88       79       67             78
2     Suzie    94       74       95             88
3     Billy    98       96       88             94
4       Ada    77       92       98             89
5      John    79       76       93             83
6    Thomas    82       64       81             76
7     Marie    93       63       90             82
8    Albert    92       62       87             80
9   Richard    69       80       94             81
10    Isaac    92       99       93             95
11     Alan    92       62       72             75

### Question 2: Load the mpg dataset. Read the documentation for the dataset and use it for the following questions:

In [11]:
mpg = data('mpg')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [12]:
# How many rows and columns are there?
mpg.shape

(234, 11)

In [13]:
# What are the data types of each column
mpg.dtypes

manufacturer     object
model            object
displ           float64
year              int64
cyl               int64
trans            object
drv              object
cty               int64
hwy               int64
fl               object
class            object
dtype: object

In [14]:
data('mpg', show_doc = True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

In [15]:
# Summarize the dataframe with .info and .describe
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [16]:
mpg.describe()

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

In [17]:
# Rename the cty column to city.
mpg.rename(columns={'cty':'city'}, inplace=True)
mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [18]:
# Rename the hwy column to highway.
mpg.rename(columns= {'hwy':'highway'}, inplace=True)
mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [19]:
# Do any cars have better city mileage than highway mileage?
mpg.sort_values(by= ['city', 'highway'], ascending=False)

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
197,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact
100,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact
...,...,...,...,...,...,...,...,...,...,...,...
55,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
70,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup
127,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv

In [20]:
# Create a column named mileage_difference this column should contain the difference between highway and city mileage for each car.
mpg['mileage_difference'] = mpg.highway - mpg.city
mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9

In [21]:
# Which car (or cars) has the highest mileage difference?
mpg.sort_values(by= 'mileage_difference', ascending=False).head(2)

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
107,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact,12
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,12

In [22]:
# Which compact class car has the lowest highway mileage? The best?
compact_car = mpg[mpg['class'] == 'compact'].sort_values(by='highway', ascending=False)
compact_car

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,11
197,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact,9
196,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact,9
198,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact,9
195,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact,9
189,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact,10
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
190,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact,9
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
194,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact,6
208,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact,8
211,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact,7
210,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact,8
188,toyota,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact,8
214,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact,8
216,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact,7
217,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact,8
218,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact,8
219,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact,8
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
142,nissan,altima,2.4,1999,4,manual(m5),f,21,29,r,compact,8
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,8
187,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact,6
173,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact,7
171,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact,7
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,9
193,toyota,camry solara,3.3,2008,6,auto(s5),f,18,27,r,compact,9
143,nissan,altima,2.4,1999,4,auto(l4),f,19,27,r,compact,8
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact,8
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,8
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,8
215,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact,7
209,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact,7
192,toyota,camry solara,3.0,1999,6,manual(m5),f,18,26,r,compact,8
191,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact,8
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact,10
13,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact,8
14,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact,8
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,9
15,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact,10
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact,5
172,subaru,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact,6
212,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact,7
221,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact,7
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact,7

In [23]:
# best highway mileage
compact_car[compact_car.highway == compact_car.highway.max()]

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,11

In [24]:
# worst highway mileage
compact_car[compact_car.highway == compact_car.highway.min()]

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact,7

In [25]:
# Create a column named average_mileage that is the mean of the city and highway mileage.
mpg['average_mileage'] = (mpg.highway + mpg.city) /2
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0

In [26]:
# Which dodge car has the best average mileage? The worst?
dodge = mpg[mpg['manufacturer'] == 'dodge'].sort_values(by='average_mileage', ascending=False)
dodge

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
38,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan,6,21.0
42,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,7,20.5
43,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,7,20.5
39,dodge,caravan 2wd,3.0,1999,6,auto(l4),f,17,24,r,minivan,7,20.5
47,dodge,caravan 2wd,3.8,2008,6,auto(l6),f,16,23,r,minivan,7,19.5
48,dodge,caravan 2wd,4.0,2008,6,auto(l6),f,16,23,r,minivan,7,19.5
40,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,6,19.0
41,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,6,19.0
45,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan,7,18.5
46,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,21,r,minivan,6,18.0
49,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup,4,17.0
53,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,5,16.5
54,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,5,16.5
50,dodge,dakota pickup 4wd,3.7,2008,6,auto(l4),4,14,18,r,pickup,4,16.0
52,dodge,dakota pickup 4wd,3.9,1999,6,manual(m5),4,14,17,r,pickup,3,15.5
63,dodge,durango 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv,5,15.5
51,dodge,dakota pickup 4wd,3.9,1999,6,auto(l4),4,13,17,r,pickup,4,15.0
73,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup,4,15.0
68,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,4,15.0
58,dodge,durango 4wd,3.9,1999,6,auto(l4),4,13,17,r,suv,4,15.0
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,4,15.0
67,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,4,15.0
61,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,4,15.0
69,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup,4,14.0
65,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup,4,14.0
56,dodge,dakota pickup 4wd,5.2,1999,8,manual(m5),4,11,17,r,pickup,6,14.0
44,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,11,17,e,minivan,6,14.0
62,dodge,durango 4wd,5.2,1999,8,auto(l4),4,11,16,r,suv,5,13.5
72,dodge,ram 1500 pickup 4wd,5.2,1999,8,manual(m5),4,11,16,r,pickup,5,13.5
64,dodge,durango 4wd,5.9,1999,8,auto(l4),4,11,15,r,suv,4,13.0
57,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,4,13.0
71,dodge,ram 1500 pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,4,13.0
74,dodge,ram 1500 pickup 4wd,5.9,1999,8,auto(l4),4,11,15,r,pickup,4,13.0
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,3,10.5
55,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5
70,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup,3,10.5

In [27]:
dodge[dodge.average_mileage == dodge.average_mileage.max()]

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
38,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan,6,21.0

In [28]:
dodge[dodge.average_mileage == dodge.average_mileage.min()]

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,3,10.5
55,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5
70,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup,3,10.5

### Question 3: Load the Mammals dataset. Read the documentation for it, and use the data to answer these questions:

In [29]:
# How many rows and columns are there?
mammals = data('Mammals')
mammals

       weight  speed  hoppers  specials
1    6000.000   35.0    False     False
2    4000.000   26.0    False     False
3    3000.000   25.0    False     False
4    1400.000   45.0    False     False
5     400.000   70.0    False     False
6     350.000   70.0    False     False
7     300.000   64.0    False     False
8     260.000   70.0    False     False
9     250.000   40.0    False     False
10   3800.000   25.0    False      True
11   1000.000   60.0    False     False
12    900.000   70.0    False     False
13    900.000   56.0    False     False
14    800.000   29.0    False     False
15    750.000   57.0    False     False
16    500.000   32.0    False     False
17    450.000   56.0    False     False
18    300.000   72.0    False     False
19    300.000   90.0    False     False
20    250.000   80.0    False     False
21    250.000   56.0    False     False
22    170.000   80.0    False     False
23    150.000   48.0    False     False
24    130.000   70.0    False     False
25    120.000   80.0    False     False
26    120.000   61.0    False     False
27    110.000   33.0    False     False
28    100.000   64.0    False     False
29     85.000   55.0    False     False
30     80.000   65.0    False     False
31     72.000   56.0    False     False
32     70.000   45.0    False     False
33     65.000   60.0    False     False
34     62.000   81.0    False     False
35     50.000  100.0    False     False
36     50.000   60.0    False     False
37     50.000   40.0    False     False
38     50.000   47.0    False     False
39     37.000  105.0    False     False
40     35.000   80.0    False     False
41     34.000   97.0    False     False
42     30.000   97.0    False     False
43     30.000   80.0    False     False
44     30.000   45.0    False     False
45     20.000   81.0    False     False
46    400.000   40.0    False     False
47    300.000   48.0    False     False
48    230.000   56.0    False     False
49    150.000   59.0    False     False
50    135.000   48.0    False     False
51     65.000   65.0    False     False
52     60.000   60.0    False     False
53     55.000  110.0    False     False
54     45.000   50.0    False     False
55     40.000   64.0    False     False
56     25.000   67.0    False     False
57     20.000   70.0    False     False
58     16.000   65.0    False     False
59     12.000   24.0    False      True
60     11.000   30.0    False      True
61     10.000   56.0    False     False
62      7.000   60.0    False     False
63      6.000   72.0    False     False
64      5.000   64.0    False     False
65      5.000   27.0    False      True
66      3.000   16.0    False      True
67    127.000   32.0    False     False
68     70.000   40.0    False      True
69     13.000   37.0    False      True
70      9.000    3.2    False      True
71      4.000   16.0    False     False
72      0.600   36.0    False     False
73      0.600   20.0    False     False
74      0.550   27.0    False     False
75      0.500   18.0    False     False
76      0.400   20.0    False     False
77      0.300   13.0    False     False
78      0.250    9.7    False     False
79      0.220   15.0    False     False
80      0.110    9.0    False     False
81      0.100   17.0    False     False
82      0.056   21.0     True     False
83      0.050   11.0    False     False
84      0.045   16.0    False     False
85      0.035   32.0     True     False
86      0.035   14.0     True     False
87      0.030    6.8    False     False
88      0.030    9.1    False     False
89      0.025   11.0    False     False
90      0.025    8.6    False     False
91      0.018    8.9    False     False
92      0.016   13.0    False     False
93      0.100    4.0    False     False
94      0.100    2.4    False     False
95      0.016    3.6    False     False
96      4.600   64.0     True     False
97      4.400   72.0     True     False
98      4.000   72.0     True     False
99      3.500   56.0     True     False
100     2.000   64.0     True     False
101     1.900   56.0     True     False
102     1.500   50.0     True     False
103     1.500   40.0     True     False
104    50.000   65.0    False     False
105     5.000    7.4    False      True
106     0.024   13.0    False     False
107     4.000    1.6    False      True

In [30]:
mammals.shape

(107, 4)

In [31]:
# What are the data types?
mammals.dtypes

weight      float64
speed       float64
hoppers        bool
specials       bool
dtype: object

In [32]:
# Summarize the dataframe with .info and .describe
mammals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107 entries, 1 to 107
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   weight    107 non-null    float64
 1   speed     107 non-null    float64
 2   hoppers   107 non-null    bool
 3   specials  107 non-null    bool
dtypes: bool(2), float64(2)
memory usage: 2.7 KB

In [33]:
mammals.describe()

            weight       speed
count   107.000000  107.000000
mean    278.688178   46.208411
std     839.608269   26.716778
min       0.016000    1.600000
25%       1.700000   22.500000
50%      34.000000   48.000000
75%     142.500000   65.000000
max    6000.000000  110.000000

In [34]:
# What is the the weight of the fastest animal?
mammals.sort_values(by= 'speed', ascending=False).head(1)

    weight  speed  hoppers  specials
53    55.0  110.0    False     False

In [35]:
# What is the overal percentage of specials?
specials = mammals.specials.sum()
total_mammals = len(mammals)

percent = (specials/total_mammals) * 100
percent

9.345794392523365

In [36]:
# How many animals are hoppers that are above the median speed? What percentage is this?
median_speed = mammals.speed.median()
hoppers = mammals.hoppers.sum()

percent_hoppers = (len(fast_hoppers)/total_mammals) * 100
percent_hoppers

NameError: name 'fast_hoppers' is not defined

In [ ]:
fast_hoppers = mammals[(mammals['speed'] > median_speed) & (mammals['hoppers'] == True)]

fast_hoppers