In [2]:
import pandas as pd

In [5]:
from pydataset import data

### Question 1: Copey the code from the lession from the pydataset library will be pandas dataframes.

In [6]:
# a. Create a column named passing_english that indicates whether each student has a passing grade in english.

In [9]:
import pandas as pd
import numpy as np

np.random.seed(123)

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# randomly generate scores for each student for each subject
# note that all the values need to have the same length here
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades})

type(df)

pandas.core.frame.DataFrame

In [10]:
print(df)

       name  math  english  reading
0     Sally    62       85       80
1      Jane    88       79       67
2     Suzie    94       74       95
3     Billy    98       96       88
4       Ada    77       92       98
5      John    79       76       93
6    Thomas    82       64       81
7     Marie    93       63       90
8    Albert    92       62       87
9   Richard    69       80       94
10    Isaac    92       99       93
11     Alan    92       62       72

In [37]:
# a. Create a column namd passing_english that indicates whether each student has a passing grade in english. 
new_df = df.assign(passing_english = df['english'] > 70)
new_df

       name  math  english  reading  passing_english
0     Sally    62       85       80             True
1      Jane    88       79       67             True
2     Suzie    94       74       95             True
3     Billy    98       96       88             True
4       Ada    77       92       98             True
5      John    79       76       93             True
6    Thomas    82       64       81            False
7     Marie    93       63       90            False
8    Albert    92       62       87            False
9   Richard    69       80       94             True
10    Isaac    92       99       93             True
11     Alan    92       62       72            False

In [ ]:
# b. Sort the english grades by the passing_english column. How are duplicates handled?

In [ ]:
# c. Sort the english grades first by passing_english and then by student name. All the students that are failing english 
# should be first, and within the students that are failing english they should be ordered alphabetically. 
# The same should be true for the students passing english. 
# (Hint: you can pass a list to the .sort_values method)

In [ ]:
# d. Sort the english grades first by passing_english, and then by the actual english grade, 
# similar to how we did in the last step.

In [ ]:
# e. Calculate each students overall grade and add it as a column on the dataframe. 
# The overall grade is the average of the math, english, and reading grades.

### Question 2: Load the mpg dataset. Read the documentation for the dataset and use it for the following questions:

In [11]:
# How many rows and columns are there?

In [12]:
# What are the data types of each column?

In [13]:
# Summarize the dataframe with .info and .describe

In [14]:
# Rename the cty column to city.

In [15]:
# Rename the hwy column to highway.

In [16]:
# Do any cars have better city mileage than highway mileage?

In [18]:
# Create a column named mileage_difference this column should contain the difference between highway and city mileage for each car.

In [19]:
# Which car (or cars) has the highest mileage difference?

In [20]:
# Which compact class car has the lowest highway mileage? The best?

In [21]:
# Create a column named average_mileage that is the mean of the city and highway mileage.

In [22]:
# Which dodge car has the best average mileage? The worst?

### Question 3: Load the Mammals dataset. Read the documentation for it, and use the data to answer these questions:

In [23]:
# How many rows and columns are there?

In [24]:
# What are the data types?

In [25]:
# Summarize the dataframe with .info and .describe

In [26]:
# What is the the weight of the fastest animal?

In [27]:
# What is the overal percentage of specials?

In [28]:
# How many animals are hoppers that are above the median speed? What percentage is this?