#### Exercises Part 1:

In [13]:
import pandas as pd

In [1]:
my_list = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [48]:
fruits = pd.Series(my_list)

In [49]:
# 1. Determine the number of elements in fruits
fruits.count()

17

In [52]:
fruits.size

17

In [10]:
# 2. Ouput only the index from fruits
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [11]:
# 3. Output only the values from fruits
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [53]:
# 4. Confirm the data type of the values in fruits
# O is object
fruits.dtypes

dtype('O')

In [54]:
# 5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.
fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [55]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [56]:
fruits.sample(2)

0       kiwi
16    papaya
dtype: object

In [24]:
# Run the .describe() on fruits to see what information it returns when called on a Series with string values.
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [57]:
# 7. Run the code necessary to produce only the unique string values from fruits.
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [58]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [59]:
# 8. Determine how many times each unique string value occurs in fruits.
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [60]:
# 9. Determine the string value that occurs most frequently in fruits.
most = fruits.value_counts()
print(most.index[0])

kiwi

In [61]:
fruits.value_counts().nlargest(1)

kiwi    4
dtype: int64

In [62]:
# 10. Determine the string value that occurs least frequently in fruits.
least = fruits.value_counts()
print(least.index[-1])

papaya

In [64]:
fruits.value_counts().nsmallest(keep = 'all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

#### Exercises Part II

In [67]:
# 1. Capitalize all the string values in fruits
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [69]:
# 2. Count the letter 'a' in all the string values(use string vectorization)
fruits.str.count('a').sum()

14

In [96]:
# 3. Output the number of vowels in each and every string value.
def count_vowels(string):
    vowels = 'AEIOUaeiou'
    vowels_count = sum(1 for char in string if char in vowels)
    return vowels_count

fruits[fruits.apply(count_vowels)]

2          strawberry
2          strawberry
2          strawberry
4          gala apple
4          gala apple
5    honeycrisp apple
3           pineapple
4          gala apple
3           pineapple
2          strawberry
2          strawberry
2          strawberry
2          strawberry
3           pineapple
2          strawberry
4          gala apple
3           pineapple
dtype: object

In [111]:
# 4. Write the code to get the longest string value from fruits.
# longest string value
fruits.apply(lambda x: len(x)).max()
#hard coding the value
fruits[fruits.str.len() >= 16]

5    honeycrisp apple
dtype: object

In [109]:
# not hardcoding the value
max(fruits, key=len)

'honeycrisp apple'

In [92]:
# 5. Write the code to get the string values with 5 or more letters in the name.
fruits[fruits.str.len() >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [74]:
# 6. Find the fruit(s) containing the letter "o" two or more times.

In [75]:
# 7. Write the code to get only the string values containing the substring "berry".

In [76]:
# 8. Write the code to get only the string values containing the substring "apple".

In [77]:
# 9. Which string value contains the most vowels?

#### Exercises Part III